.nav__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    list-style-type: none;
}

.nav__wrapper-small {
    display: none;
    list-style-type: none;
}

@media (max-width: 1070px) {
    .nav__wrapper {
      display: none;
    }
  
    .nav__wrapper-small {
      display: block;
    }
  }
